@import "variables.scss";
@import "buttons.scss";
@import "navi.scss";
@import "cards.scss";
@import "random.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    padding-bottom: 100vh;
    background: linear-gradient(180deg, 
    
    $dark-color 8%, 
    $gradient1-start 70%,
    $gradient1-middle  130%, 
    
    ) no-repeat;
    font-size: 62.5%;
    font-family: Arial;
}

p{
    padding: 0.3rem;
    font-size: 1.5rem;
}

hr{
    width: 20%;
    border: 1px solid $dark-color;
    transform-origin: left;
    transition: scale 4s;
    transform: width 2s;
}

a{
    padding: 1rem;
    text-decoration: none;

  }

i {
color: $bright-color;
margin-top: 1rem;
padding: 0rem;
border-radius: 10px;
font-size: 2rem;
  &:hover {
    color: white;
    transform: scale(1.2);
    transition-duration: 0.5s;
    text-shadow: 2px 2px 10px $dark-color, -2px -2px 10px $dark-color;
  }
}




.container > div{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.container {
    height: content;
    width: 80%;
    margin: auto;
    margin-top: 4rem;
    padding-bottom: 3rem;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 0px 20px 0px 20px;
    @include flex(column, flex-start, flex-start);
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px black;
    align-items: center;
}

.links{
    margin-top: 1rem;
    padding: 0;
    // display: inline-block;
    text-align: center;
    // align-self: center;
    }

@media screen and (max-width: 360px) {
    
a {
    
    padding: 0.6rem;
}

button{
    margin: 0.5rem;
    padding: 1rem;
    font-size: 2rem; 
    padding: 0.5rem 1rem;
}

    .buttons {
    height: content;
    width: 95%;
    }

    .navMain{
       
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .navigation{
       
       padding-top: 2rem;
       padding-bottom: 2rem;
       padding-right: 1.5rem;
       padding-left: 1.5rem;
    }

    .buttonNav {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid rgba(167, 215, 204, 0.5);
    border-radius: 7px;
    font-size: 1rem;

    &:hover{
        border-radius: 7px;
    }

    &::after{
       
        border-radius: 7px;
      
      }
      &:hover::after{
        transform: scaleX(1.25) scaleY(1.4);
        border-radius: 7px;
        box-shadow: 
        2px 2px 10px $bright-color2, 
        -2px -2px 10px $bright-color2,
        2px -2px 10px $bright-color2,
        -2px 2px 10px $bright-color2;
        opacity: 0;
      }

   }
  
//    .card1, .card2, .card3, .card4, .card5, .card6{
//     height: 14rem;
//     width: 10rem;
//     // padding: $paddingLeft $paddingRight;
//     border-radius: 10px ;
//     padding: 0.1rem 0.1rem;
//    }

   .card1 > div{
    // background: rgba(76, 150, 76, 0.5);
    padding-right: 13%;
    padding-left: 13%;
   }
   .card1p{
       width: 100%;
       padding: 2rem 0rem;
       font-size: 1rem;
       top: 62%;
   }

   i {
       font-size: 1.7rem;
       margin-left: 0.5rem;
       margin-right: 0.5rem;
   }

}

#backToMyWeb{
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #98a4ac;
    border: 1px solid #98a4ac;
}

@media  screen and (max-width: 500px) {
    .buttonNav{
        margin: 0;
    }
}

@media screen and (min-width: 750px) {
.buttons {
    height: content;
    width: 700px;
}

.container {
    height: content;
    width: 700px;
}
.containerCards {
    height: content;
    width: 700px;
}
}